@import "variables";

footer {
    background:linear-gradient(
        rgba(131,137,199,.35),
        rgba(131, 137, 199, 0.35)),
    url("/styles/images/footer.jpg");
    padding: 150px 50px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 15px solid $backgroundColour;
    text-transform: uppercase;
}