.galleryall {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    img {
        margin: 10px;
        // width: 30%;
        
    }
}


.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding-bottom: 20px;
    img {
        margin-bottom: 20px;        
    }
    p {
        text-align: center;
    }
}

.lb-caption {
    font-family: $copyFont;
    // font-family: $headerFont;
    letter-spacing: .75px;
    text-align: center;
}