.galleryall {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery {
}

.item {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding-bottom: 20px;
    max-width: 30%;
    img {
        max-width: 300px;
        padding: 5px;
        border: 1px solid black;
        margin: 10px;
    }
    p {
        text-align: center;
    }
}

.lb-caption {
    font-family: $copyFont;
    // font-family: $headerFont;
    letter-spacing: .75px;
    text-align: center;
}