.galleryall {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.completedSection {
    margin-top: 100px;
}

.item {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding-bottom: 20px;
    img {
        width: 330px;
        padding: 5px;
        border: 1px solid black;
        position: relative;
        z-index: -1;
    }
    p {
        text-align: center;
    }
}

.lb-caption {
    font-family: $copyFont;
    // font-family: $headerFont;
    letter-spacing: .75px;
    text-align: center;
}