.flex {
    display: flex;
    h3 {
    
    }
}

.carousel-cell {
    margin: 0 30px;
    padding: 0 20px;
    img {
        height: 300px;
        padding: 0 10px;
    }
    h3 {
        margin: 0 10px 30px;
    }
}

.main-carousel {
    padding: 0 50px 0;
    margin: 0 25px;
    filter: grayscale(40%);
}

.step {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 200px;
    font-size: 32px;
    text-align: center;

}

.step:after {
    content: url("/styles/images/process/arrow3.svg");
    margin-top: 20%;
    padding-top: 10px;
    width: 100px;
    position: absolute;
    top: 50%;
}


