.processSection {
    h3 {
        font-size: 40px;
    }
}

.processImage {
    opacity: .8;
}

.flex {
    display: flex;
    // flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    margin: 50px 0;
}

.subtitle {
    display: flex;
    flex-direction: column;
}

.svgNumber {
    max-width: 150px;
    position: absolute;

}

.shopping {
    justify-content: flex-start;
    img {
        max-width: 200px;
        margin-left: 30%;
    }
    .svgNumber {
        max-width: 100px;
        left: 1%;
        top: -10%;
    }
    h3 {
        font-size: 30px;
        margin-left: 10%;
    }
}


.selectFrame {
    h3 {
        margin-top: 20%;
        margin-left:20%;
    }
    p {
        margin-left: 50%;
    }
    .svgNumber {
        max-width: 200px;
        margin-top: 3%;
    }
    img {
        max-width: 200px;
    }
}

.drawing {
    img {
        max-width: 400px;
    }
    .svgNumber {
        right: 1%;
        top: 25%;
        max-width: 200px;
    }
}

.transfer {
    img {
        max-width: 350px;
    }
    h3 {
        margin-top: 45%;
    }
    .svgNumber {
        top: 18%;
        left: 10%;
        max-width: 300px;
    }
    .subtitle {
        align-items: center;
    }

}

.stitching {
    img {
        max-width: 400px;
    }
    .svgNumber {
        max-width: 250px;
        right: 1%;
    }
    h3 {
        margin-top: 20%;
        padding-right: 20%;
    }
}

.framing {
    img {
        max-width: 400px;
    }
    .svgNumber {
        max-width: 200px;
    }
    h3 {
        margin-top: 35%;
        // margin-left: 45%;
    }

}


