@import "setup";
@import "footer";
@import "gallery";
@import "variables";
@import "process";

.hidden {
    visibility: hidden;
}

body {
    background: $backgroundColour;
}

h1, h2, h3,  ul, li, p, a {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1 {
    font-family: $headerFont;
}

h3 {
    font-family: $copyFont;
    font-weight: lighter;
    // font-family: $headerFont;
    // text-transform: uppercase;
}

p {
    font-family: $copyFont;
}

a {
    text-decoration: none;
    font-family: $copyFont;
    color: $black;
}



.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

header {
    background:linear-gradient(
        rgba(131,137,199,.2),
        rgba(131, 137, 199, 0.2)),
    url("../styles/images/headerplaceholder.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 15px solid $backgroundColour;
    a {
        text-decoration: none;
        color: $mainLight;
        font-family: $copyFont;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 1.5px;
    }
    
}

.CDClogo {
    max-width: 80%;
    position: relative;
    bottom: 50%;
}

nav {
    svg {
        // fill: cyan;
        // stroke: darkcyan;  
        stroke-width: 3px;
        margin-top: 10px;
    }
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.border {
    width: 300px;
    height: 90px;
    border: 1px solid; 
    border-color: lighten(#30343f, 50);
    margin: 0 auto;
    // position: absolute;
}

.flexContainer {
    display: flex;
    justify-content: center;
}

.sectionBoth {
    position: relative;
    display: inline-block;
    margin-bottom: 100px;
}

.borderInside {
    border: 1px solid;
    border-color: lighten(#30343f, 50);
    width: 290px;
    height: 80px;
    margin: 0 auto;
    margin-top: 4px;
}

.sectionSVG {
    position: absolute;

}

.about {
    width: 500px;
    left: -38%;
    top: 36%;
}

.process {
    width: 550px;
    left: -28%;
    top: 2%;
}

.completedWork {
    width: 700px;
    left: -62%;
    top: 1%;
}

.contact {
    width: 500px;
    left: -30%;
    top: 18%
}

.contactFlex {
    display: flex;
    justify-content: center;
}

.left, .right {
    display: flex;
    flex-direction: column;
    border: 3px solid blue;
    width: 50%;
    margin: 10px;
    // width: 50%;
}

.right {
    width: 50%;
}


form {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: $copyFont;
}

.textarea {

}





