article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

footer {
  background: linear-gradient(rgba(131, 137, 199, 0.35), rgba(131, 137, 199, 0.35)), url("../styles/images/footer.jpg");
  padding: 300px 0px 0;
  background-size: cover;
  background-repeat: no-repeat;
  border: 15px solid #ffffff;
  display: flex;
  justify-content: center;
  text-align: center; }
  footer p {
    color: #30343f;
    padding: 5px 15px 0;
    background-color: #ffffff;
    font-size: 14px; }
  footer a {
    text-decoration: none;
    color: grey; }
    footer a:hover {
      color: #30343f; }

.galleryall {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.completedSection {
  margin-top: 100px; }

.item {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding-bottom: 20px; }
  .item img {
    width: 330px;
    padding: 5px;
    border: 1px solid black;
    position: relative;
    z-index: -1; }
  .item p {
    text-align: center; }

.lb-caption {
  font-family: "Vollkorn", serif;
  letter-spacing: .75px;
  text-align: center; }

.flex {
  display: flex; }

.carousel-cell {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0 20px;
  position: relative;
  margin: 10px; }
  .carousel-cell img {
    padding: 0 10px; }

.processImage {
  display: flex;
  justify-content: center; }
  .processImage img {
    max-width: 90%;
    max-height: 350px;
    margin: 0 auto; }

@media (max-width: 670px) {
  .processImage img {
    max-width: 100%;
    max-height: 300px; } }

.main-carousel {
  padding: 0 50px 0;
  margin: 0 25px;
  filter: grayscale(40%); }

.hidden {
  visibility: hidden; }

body {
  background: #ffffff; }

h1, h2, h3, ul, li, p, a {
  padding: 0;
  margin: 0;
  list-style: none; }

h1 {
  font-family: "Cormorant", sans-serif; }

h3 {
  font-family: "Vollkorn", serif;
  font-weight: lighter; }

p {
  font-family: "Vollkorn", serif; }

a {
  text-decoration: none;
  font-family: "Vollkorn", serif;
  color: #30343f; }

.wrapper {
  max-width: 1100px;
  margin: 0 auto; }

header {
  background: linear-gradient(rgba(131, 137, 199, 0.2), rgba(131, 137, 199, 0.2)), url("../styles/images/headerplaceholder.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 15px solid #ffffff;
  margin-bottom: 100px; }
  header a {
    text-decoration: none;
    color: #97a0ae;
    font-family: "Vollkorn", serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1.5px; }

.CDClogo {
  max-width: 80%;
  position: relative;
  bottom: 50%; }

nav svg {
  stroke-width: 3px;
  margin-top: 10px; }

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center; }

.border {
  width: 300px;
  height: 90px;
  border: 1px solid;
  border-color: #adb2c1;
  margin: 0 auto; }

.flexContainer {
  display: flex;
  justify-content: center; }

.sectionBoth {
  position: relative;
  display: inline-block;
  margin-bottom: 100px; }

.borderInside {
  border: 1px solid;
  border-color: #adb2c1;
  width: 290px;
  height: 80px;
  margin: 0 auto;
  margin-top: 4px; }

.welcomeBlurb {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  font-size: 18px;
  line-height: 25px;
  text-align: center; }
  .welcomeBlurb p {
    padding: 5px; }
  .welcomeBlurb h2 {
    font-family: "Vollkorn", serif;
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 5px; }

.customAbout {
  font-size: 16px; }

.sectionSVG {
  position: absolute; }

.process {
  width: 550px;
  left: -28%;
  top: 2%; }

.completedWork {
  width: 700px;
  left: -49%;
  top: 23%; }

.contact {
  width: 500px;
  left: -30%;
  top: 18%; }

@media (max-width: 740px) {
  .completedWork {
    width: 570px;
    left: -36%;
    top: 35%; } }

@media (max-width: 550px) {
  .process {
    width: 400px;
    left: -14%;
    top: 17%; }
  .completedWork {
    width: 490px;
    left: -28%;
    top: 38%; }
  .contact {
    width: 430px;
    left: -24%;
    top: 25%; } }

@media (max-width: 480px) {
  .completedWork {
    width: 400px;
    left: -15%;
    top: 43%; } }

@media (max-width: 400px) {
  .process {
    width: 300px;
    left: -8%;
    top: 32%; }
  .border {
    width: 230px; }
  .borderInside {
    width: 220px; }
  .completedWork {
    left: -23%;
    width: 350px; }
  .contact {
    width: 360px;
    left: -30%;
    top: 33%; } }

.contactHeader {
  margin-top: 100px;
  margin-bottom: 30px; }

.contactFlex {
  display: flex;
  justify-content: center; }

.left, .right {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10px; }

.typeHere:not(:last-of-type) {
  height: 50px; }

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-family: "Vollkorn", serif;
  font-size: 16px;
  margin-bottom: 80px; }

input, label {
  margin: 8px 0; }

.sendButton {
  width: 200px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 7px 0 3px;
  border: double; }
  .sendButton:hover {
    background: #9a9a9a;
    color: #ffffff; }

.flickity-page-dots {
  display: none; }

.contactBlurb {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  margin-bottom: 30px;
  margin-top: 10px; }
  .contactBlurb p {
    padding: 10px; }
  .contactBlurb a {
    display: flex;
    flex-direction: column;
    align-items: center; }

.svg-inline--fa {
  font-size: 28px;
  margin: 10px; }

.sold:after {
  content: "      (sold)";
  color: grey; }
