@import "setup";
@import "footer";
@import "header";
@import "variables";


body {
    background: $backgroundColour;
}

h1, h2, ul, li, p, a {
    padding: 0;
    margin: 0;
    list-style: none;
}




