@import "setup";
@import "footer";
@import "gallery";
@import "variables";

.hidden {
    visibility: hidden;
}

body {
    background: $backgroundColour;
}

h1, h2, ul, li, p, a {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1 {
    font-family: $headerFont;
}

p {
    font-family: $copyFont;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

header {
    background:linear-gradient(
        rgba(131,137,199,.2),
        rgba(131, 137, 199, 0.2)),
    url("/styles/images/headerplaceholder.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 15px solid $backgroundColour;
    a {
        text-decoration: none;
        color: $mainLight;
        font-family: $copyFont;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 1.5px;
    }
    
}

.CDClogo {
    max-width: 80%;
    position: relative;
    bottom: 50%;
}

nav {
    svg {
        // fill: cyan;
        // stroke: darkcyan;  
        stroke-width: 3px;
        margin-top: 10px;
    }
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.border {
    width: 300px;
    height: 90px;
    border: 1px solid; 
    border-color: lighten(#30343f, 50);
    margin: 0 auto;
    // position: absolute;
}

.borderInside {
    border: 1px solid;
    border-color: lighten(#30343f, 50);
    width: 290px;
    height: 80px;
    margin: 0 auto;
    margin-top: 4px;
}

.about {
    top: 1px;
    width: 500px;
    position: absolute;
    left: 10%;
    top: 35%;
}

.aboutBoth {
    position: relative;
}



