
// $backgroundColour: #d0d1da;
// (208,209,218)
// $backgroundColour: #fcfcff;
// $backgroundColour: lighten(#30343f, 80);
$backgroundColour: #ffffff;
$black: #30343f;

$contrastBright:#3B9292;
$mainDark: #30343f;
$mainLight: #97a0ae;
$contrastDark: #373f47;

$headerFont:'Cormorant', sans-serif; 
$copyFont: 'Quattrocento Sans', sans-serif;
// $copyFont: 'Inconsolata', monospace;